@font-face {
    font-family: 'Merienda';
    src: url("assets/fonts/Merienda-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Merienda';
    src: url("assets/fonts/Merienda-Bold.ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Merienda';
    src: url("assets/fonts/Merienda-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}